@import '../../styles/settings.scss';
.main_nav {
    background-color: darken($color-dark, 3%);
    display: flex;
    justify-content: space-between;
    padding: $base-size*2 ($base-size*6);
    span {
        font-size: $base-size*2.5;
        align-self: center;
    }
}

.linksList{
    display: flex;
    li{
        list-style: none;
        padding-left: $base-size*2;
        color: white;
        font-size: $base-size*1.5;
    }
    a{
        text-decoration: none;
        color: $color-light;
    }
    .linkActive {
        color: $color-warning;
    }
}

